{% load guides_tags %}
<div class="card">
  <div class="card-header">
    <div>
      <span>{{ guide.given_name }} {{ guide.surname }}</span>
      {% if guide.match_set.exists %} 
        <span class="badge badge-pill badge-primary">
          {{ guide.match_set.count }}
        </span>
      {% endif %}
      <span class="float-right">{{ guide.affiliation }}</span>
    </div>
    <div>
      <span>{{ guide.email }}</span>
      <span class="float-right">{{ guide.country }}</span>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div>
        <span>Languages: {% for l in guide.language.all %}{{ l }} {% endfor %}</span>
        <span class="float-right"> Years:
          {% if guide.pretty_ietf_years == "<5" %}
          <span class="badge badge-pill badge-warning">
          {% endif %}
            {{ guide.pretty_ietf_years }}
          {% if guide.pretty_ietf_years == "<5" %}
          </span>
          {% endif %}
        </span>
      </div>
      <div>
          <span>Multiple:
              {% if guide.multiple_guided != "YES" and guide.match_set.exists %}
              <span class="badge badge-pill badge-warning">
              {% endif %}
              {{ guide.multiple_guided }}
              {% if guide.multiple_guided != "YES" and guide.match_set.exists %}
              </span>
              {% endif %}
              <span class="float-right">Intro:
                  {% if guide.give_intro != "YES" %}
                  <span class="badge badge-pill badge-warning">
                  {% endif %}
                  {{ guide.give_intro }}
                  {% if guide.give_intro != "YES" %}
                  </span>
                  {% endif %}
              </span>
          </span>
      </div>
      <div>Areas: {% for area in guide.areas.all %}{{area.short }} {% endfor %}</div>
      <div>Groups: {{ guide.groups }}</div>
      <div>
          Help frequency:
          {% if guide.help_frequency == "ZERO" %}
          <span class="badge badge-pill badge-warning">
          {% endif %}
          {{ guide.help_frequency }}
          {% if guide.help_frequency == "ZERO" %}
          </span>
          {% endif %}
      </div>
      <div>Gender: {{ guide.gender }}</div>
      <div>Participant gender:
          {% if guide.gender_pref != "NoPref" %}
          <span class="badge badge-pill badge-warning">
          {% endif %}
          {{ guide.gender_pref }}
          {% if guide.gender_pref != "NoPref" %}
          </span>
          {% endif %}
      </div>
      <div>Is Remote:
          {% if guide.remote == "YES" %}
          <span class="badge badge-pill badge-warning">
          {% endif %}
          {{ guide.remote }}
          {% if guide.remote == "YES" %}
          </span>
          {% endif %}
      </div>
      <div>Guide Remotes: {{ guide.accept_remote }}</div>
      <div>Other: {{ guide.additional_info }}</div>
      {% if guide.admin_notes %}
      <div><b>Admin notes:</b> {{ guide.admin_notes }}</div>
      {% endif %}
    </div>
  </div>
</div>
