{% extends "base.html" %}
{% block title %}IETF Guides{% endblock %}
{% block content %}
{% include 'about-guides.html' %}
  <div class="card">
    <h5 class="card-header">To Request a Guide</h5>
    <div class="card-body">
      <p class="card-text">
	If you are a newcomer to the IETF (you've attended less than 5 IETFs) and wish to request a Guide for an <a href="https://ietf.org/how/meetings/upcoming/">upcoming IETF meeting</a>, start here.  For more information, please review the <a href="https://www.ietf.org/about/participate/guides/guides-participant-faq/">FAQ for potential participants</a>. 
      </p>
      <a href="{% url 'guides.views.request_guide' %}" class="btn btn-primary">Request a Guide</a>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">To Become a Guide</h5>
    <div class="card-body">
      <p class="card-text">
	First off, thank you for being willing to help by participating as a Guide.  Guides are advisors, coaches, and teachers that provide the guidance needed to assist IETF newcomers in developing the skills needed to participate effectively within the IETF standards process. For more information on the skills required, please see the <a href="https://www.ietf.org/about/participate/guides/guides-faq/">FAQ for potential guides</a>.
      </p>
      <a href="{% url 'guides.views.become_guide' %}" class="btn btn-primary">Become a Guide</a>
    </div>
  </div>

{% endblock %}
