{% extends "base.html" %}
{% block title %}IETF Guides{% endblock %}
{% block content %}
<p>The IETF Guides Program matches experienced IETF participants with newcomers in order to aid their integration into the IETF community through advice, help, and collected wisdom.
    The guidance provided should speed up the time it takes for newcomers to become active, contributing members of the IETF.</p>
<p>Please note that this is separate from the Internet Society Fellowship to the IETF program.</p>
<div class="card">
    <h5 class="card-header">To Request a Guide</h5>
    <div class="card-body">
	<p class="card-text">
	    The Program focuses on assisting participants who are newcomers to the IETF, but is open to all. For more information, please review the <a href="https://www.ietf.org/about/participate/guides/guides-participant-faq/">FAQ for potential participants</a>. 
	</p>
	<a href="{% url 'guides.views.request_guide' %}" class="btn btn-primary">Request a Guide</a>
    </div>
</div>
<div class="card">
    <h5 class="card-header">To Become a Guide</h5>
    <div class="card-body">
	<p class="card-text">
	    A guide plays the role of advisor, coach, and teacher, providing the guidance needed to assist program participants in developing the skills needed to participate effectively within the IETF standards process. For more information on the skills required, please see the <a href="https://www.ietf.org/about/participate/guides/guides-faq/">FAQ for potential guides</a>.
	</p>
	<a href="{% url 'guides.views.become_guide' %}" class="btn btn-primary">Become a Guide</a>
    </div>
</div>

{% endblock %}
