{% extends "base.html" %}
{% block title %}IETF Guides{% endblock %}
{% block morecss %}
body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

@media (min-width: 768px){
  #left {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    width: 50%;
    overflow-y: scroll; 
  }
  
  #right {
    position: absolute;
    top: 80px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 50%;
  }
}

.card {
  margin-bottom:15px;
}


{% endblock %}

{% block content %}

<form method="POST">{% csrf_token %}
  <div class="row">
    <div class="col-md-6 text-center font-weight-bold">Participants</div>
    <div class="col-md-6 text-center font-weight-bold">Guides</div>
  </div>
  <div class="col-md-12 text-center">
    <button type="submit" class="btn btn-primary">Match</button>
  </div>
  <div class="col-md-6" id="left">
    {% for participant in form.fields.participant.queryset %}
    <input type="radio" name="participant" value="{{ participant.pk }}">
      {% include 'guides/participant_card.html' %}
    </input>
    {% endfor %}
  </div>

  <div class="col-md-6" id="right">
    {% for guide in form.fields.guide.queryset %}
    <input type="radio" name="guide" value="{{ guide.pk }}">
      {% include 'guides/guide_card.html' %}
    </input>
    {% endfor %}
  </div>

</form>


{% endblock %}