<div class="card">
  <div class="card-header">
    <div>
      <span>{{ participant.given_name }} {{ participant.surname }}</span>
      <span class="float-right">{{ participant.affiliation }}</span>
    </div>
    <div>
      <span>{{ participant.email }}</span>
      <span class="float-right">{{ participant.country }}</span></div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div>
          <span>Language: 
              {{ participant.language }}
          </span>
        <span class="float-right">Attended: {{ participant.pretty_attend }}</span>
      </div>
      <div>Attending:
          {% if participant.attending != "YES" %}
          <span class="badge badge-pill badge-warning">
          {% endif %}
          {{ participant.attending }}
          {% if participant.attending != "YES" %}
          </span>
          {% endif %}
      </div>
      <div>Topics: {{ participant.topics }}</div>
      <div>Areas: {% for area in participant.areas.all %}{{ area.short }} {% endfor %}</div>
      <div>Groups: {{ participant.groups }}</div>
      <div>Guide gender:
          {% if participant.gender_pref != "NoPref" %}
          <span class="badge badge-pill badge-warning">
          {% endif %}
          {{ participant.gender_pref }}
          {% if participant.gender_pref != "NoPref" %}
          </span>
          {% endif %}
      </div>
      <div>Remote:
          {% if participant.remote == "YES" %}
          <span class="badge badge-pill badge-warning">
          {% endif %}
          {{ participant.remote }}
          {% if participant.remote == "YES" %}
          </span>
          {% endif %}
      </div>
      <div>Other: {{ participant.additional_info }}</div>
    </div>
  </div>
</div>
