<div class="card">
  <div class="card-header">
    <div>
      <span>{{ participant.given_name }} {{ participant.surname }}</span>
      <span class="float-right">{{ participant.affiliation }}</span>
    </div>
    <div>
      <span>{{ participant.email }}</span>
      <span class="float-right">{{ participant.country }}</span></div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div>
        <span>Language: {{ participant.language }}</span>
        <span class="float-right">Attended: {{ participant.pretty_attend }}</span>
      </div>
      <div>Attending: {{ participant.attending }}</div>
      <div>Topics: {{ participant.topics }}</div>
      <div>Areas: {% for area in participant.areas.all %}{{ area.short }} {% endfor %}</div>
      <div>Groups: {{ participant.groups }}</div>
      <div>Guide gender: {{ participant.gender_pref }}</div>
      <div>Remote: {{ participant.remote }}</div>
      <div>Other: {{ participant.additional_info }}</div>
      {% if participant.admin_notes %}
      <div>Admin notes: {{ participant.admin_notes }}</div>
      {% endif %}
    </div>
  </div>
</div>
