{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Request a guide{% endblock %}
{% block content %}
<h1>Request a Guide</h1>
  <p>Thank for your interest in having an IETF Guide help introduce you to the IETF! Pleae provide the email address you would like to use for the IETF Guides program. We will send you a link to a page where you can register, and maintain your registration details later.</p>
  <p>If you are already requested a guide, but don't remember the link that was sent to you previously, it's safe to provide your email address here again; the link to be resent to you.</p>
  <form method="POST">{% csrf_token %}
    {% bootstrap_form form layout='inline' error_types='all' %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Send Email</button>
    {% endbuttons %}
  </form>
{% endblock %}
