{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Send Match Email{% endblock %}
{% block content %}

<h1>Send Match Email</h1>

{% with participant=match.participant guide=match.guide %}
  <div class="row">
    <div class="col-md-6">
      {% include "guides/participant_card.html" %}
    </div>
    <div class="col-md-6">
      {% include "guides/guide_card.html" %}
    </div>
  </div>
{% endwith %}

<form method="POST">{% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">Send</button>
  {% endbuttons %}
</form>
{% endblock %}